<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Grupo 11">
    <meta name="description" content="Proyecto de Frontend CaC Fullstack java">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Boostrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- AOS Scroll Libreria -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- Google Fonts Nunito -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <!-- Estilos Personalizados CSS -->
    <link rel="stylesheet" href="../assets/style/style.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon">
    <!-- Title -->
    <title>Detalle | Movie APP</title>
</head>

<body>
    <!-- Header -->
    <header class="header container-fluid">
        <nav class="nav-bar">
            <a class="movie-icon sacudir-texto" href="../index.html">
                <i class="bi bi-film"></i>
                <span>Detalle - Movie App</span>
            </a>
            <ul class="nav-list">
                <li class="nav-list-item"><a class="nav-link" href="../pages/home.html">Home</a></li>
                <li class="nav-list-item"><a class="nav-link" href="registrarse/registrarse.html">Registrarse</a></li>
                <li class="nav-list-item iniciar-sesion"><a class="nav-link" href="../index.html">Iniciar
                        Sesion</a></li>
            </ul>
        </nav>
    </header>
    <main id="main" class="main">
        <!-- Seccion Detalle -->
        <section class="detalle" data-aos="zoom-in" data-aos-delay="700" data-aos-duration="1000">
            <div id="movie-detalles" class="contenedor-detalle">
                <div id="img-detalle" class="img-detalle">
                    <img id="img-poster" class="img-card" src="../assets/img/mario.jpg" alt="">
                </div>
                <div class="contenedor-secundario">
                    <div class="contenedor-texto-detalle">
                        <h1 id="detalle-titulo">The Super Mario Bros. Movie (2023)</h1>
                        <p id="detalle-fecha-genero">04/05/2023 • Animación, Familia, Aventura, Fantasia, Comedia • 1h
                            33m</p>
                        <h2>Sinopsis</h2>
                        <p id="detalle-sinopsis">"Mientras trabajan bajo tierra para arreglar una tubería de agua, los
                            plomeros (y hermanos)
                            de Brooklyn, Mario y Luigi, son transportados por una tubería misteriosa y vagan hacia un
                            mundo nuevo y mágico. Pero cuando los hermanos se separan, Mario se embarca en una búsqueda
                            épica para encontrar a Luigi."</p>
                    </div>
                    <div class="contenedor-creditos">
                        <div>
                            <h3>Aaron Horvath</h3>
                            <p>Director</p>
                        </div>
                        <div>
                            <h3>Michael Jelenic</h3>
                            <p>Director</p>
                        </div>
                        <div>
                            <h3>Matthew Fogel</h3>
                            <p>Director</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Seccion Trailer -->
        <section class="trailer" data-aos="fade-up" data-aos-offset="300" data-aos-delay="50" data-aos-duration="1000">
            <div class="contenedor-trailer">
                <h2>Ver trailer</h2>
                <iframe id="detalle-trailer" width="560" height="315" src="" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="contenedor-info">
                <div class="redes">
                    <ul>
                        <li><a href="https://www.facebook.com/supermariomovie" target="_blank"
                                rel="noopener noreferrer""><img src=" ../assets/img/facebook.svg"
                                alt="logo-facebook"></a></li>
                        <li><a href="https://twitter.com/supermariomovie" target="_blank" rel="noopener noreferrer"><img
                                    src="../assets/img/twitter.svg" alt="logo-twitter"></a></li>
                        <li><a href="https://www.instagram.com/supermariomovie/" target="_blank"
                                rel="noopener noreferrer"><img src="../assets/img/instagram.svg"
                                    alt="logo-instagram"></a></li>
                        <li><a href="https://www.thesupermariobros.movie/" target="_blank" rel="noopener noreferrer"><img src="../assets/img/homepage.svg"
                            alt="logo-instagram"></a></li>
                    </ul>
                </div>
                <div id="detalle-informacion" class="info">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">
                                    Información
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Estado</strong>
                                </td>
                                <td id="detalle-estado">Estrenada</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Lenguaje Original</strong>
                                </td>
                                <td id="detalle-lenguaje">Ingles</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Presupuesto</strong>
                                </td>
                                <td id="detalle-presupuesto">US$100,000,000.00</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Ganancias</strong>
                                </td>
                                <td id="detalle-ganancias">US$1.347.013.866,00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer class="footer">
            <nav class="nav-bar-footer">
                <ul class="d-flex nav-bar-footer-list">
                    <li class="nav-bar-footer-list-item"><a class="nav-bar-footer-list-item-link" href="">Términos y
                            Condiciones</a></li>
                    <li class="nav-bar-footer-list-item"><a class="nav-bar-footer-list-item-link" href="">Preguntas
                            Frecuentes</a></li>
                    <li class="nav-bar-footer-list-item"><a class="nav-bar-footer-list-item-link" href="">Ayuda</a></li>
                    <li class="nav-bar-footer-list-item item-administrador"><a class="nav-bar-footer-list-item-link"
                            href="">Administrador de Películas</a></li>
                </ul>
            </nav>
            <div class="flecha-arriba">
                <a href="#main">
                    <img src="../assets/img/flecha-hacia-arriba.png" alt="flecha-arriba">
                </a>
            </div>
        </footer>
    </main>
    <script src="../assets/js/fetchMovieDetalle.js"></script>
    <!-- Script de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
    <!-- Script de Aos Scroll Libreria -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>